# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# Kiro and SOP
.kiro
.sop
.factorypath

# Local testing

.durable-executions-local
.env

# OS
.DS_Store
Thumbs.db

# Build artifacts
*.jar
*.war
*.ear
*.class

# SAM
.aws-sam/
samconfig.toml
samconfig.toml.bak

# OSS
.flattened-pom.xml